/* Estilos de los 3 botones superiores */
.dt-button, .buttons-excel, .buttons-html5 {      
    border-color: #4e73df !important;
    background: #4e73df !important;
    color: #fff !important;
}
.dt-button:hover, .buttons-excel:hover, .buttons-html5:hover {      
    border-color: #2653d4 !important;
    background: #2e59d9 !important;
    color: #fff !important;
}

/* Color del texto de la tabla */
.table {    
    color: #858796 !important;
}

/* Color del texto nombre (Nota: Crear una clase) */
/* a {
    color: #858796 !important;
    text-decoration: none;
} */

/* Botón de libro de calificaciones */
.btn-info{
    color: #fff !important;
    background-color: #ad53b2;
    border-color: #ad53b2;
}

/* Color del texto que esta fuera de la tabla */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #858796 !important;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           