<div class="row container filtro_m">
    <form action="" name="local_hoteles_city_dashboard_filters" class="row col-sm-12" id="local_hoteles_city_dashboard_filters">
        {{! Filters will be populated by JavaScript }}

        {{{filters}}}
    </form>

    <div class="col-12 text-right" style="padding-right: 2%;">
        <button class="btn btn-primary" id="apply-filters-btn">{{apply_filters}}</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width: 100%;">
    <div class="modal-dialog" role="document">
        <div id="loader" style="margin-top: 100px;"></div>
    </div>
</div>

<!-- Div para pintar la grafica comparativa de los cursos -->
<div class="row" style="justify-content: center; max-width: 100%;padding-top: 1rem;" id="comparative">
    <div class="col-sm-12 col-md-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><a href="#">{{comparative}}</a></h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="" id="div_comparativa">
                    <canvas id="grafica_comparativa"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Div para filtros seleccionados -->
<div class="col-sm-3">{{selected_filters}}</div>
<div class="col-sm-12 row filtro_div" style="text-align: center;">
    <div class="col-sm-3" id="uo" style="word-break: break-word;"></div>
    <div class="col-sm-3" id="puesto"></div>
    <div class="col-sm-3" id="marca"></div>
    <div class="col-sm-3" id="region"></div>
</div>
<div class="row">
    <div id="pag-content" class="col-sm-12 center p-3">
        <nav id="paginacion" aria-label="Page navigation example">
        </nav>
    </div>
</div>

<!-- Div para pintar las graficas de los cursos -->
<div id="curso_graficas" class="row" style="padding: 15px 25px; max-width: 100%;"></div>