<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Avance City Campus</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cert-tab" data-toggle="tab" href="#cert" role="tab" aria-controls="profile" aria-selected="false">Avance Certificaciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Descargar certificaciones por Usuario</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
<br>
<button id="return" class="btn btn-secondary"> Ir atrás</button >
<button id="exportpdf" type="button" class="btn btn-primary">Exportar a pdf</button>
<button id="exportexcel" type="button" class="btn btn-primary">Exportar a excel</button>
<div class="row">
        <div class="col-12" id="cont-table">
            {{> local_hoteles_city_dashboard/table_data}}
        </div>
        <div class="col-12" id="cont-graph">
            {{> local_hoteles_city_dashboard/chart_bar}}
        </div>
    </div>
  </div>
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="background:#fff;">
    
  <div class="tab-pane fade" id="cert" role="tabpanel" aria-labelledby="cert-tab">
    
  </div>
  <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">

  </div>
</div>
<div id="overlay" style="display: none;">
  <div id="loading-message">Cargando...</div>
</div>

<style>
 #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    #loading-message {
      color: white;
    }

</style>

{{#js}}
require(['local_hoteles_city_dashboard/reportes_uo_main'], function(ReportesUoMain) {
    // Inicializar con parámetros
    ReportesUoMain.init('{{uniqid}}', '', 'regions-avance');
});
{{/js}}