<div class="table-responsive">
    <table class="table" id="tdata">
        <caption id="tittable"></caption>
        <thead id="hdata">
            <th>Nombre</th>
            <th>% Completado </th>
            <th>% No completado</th>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
    <div id="prueba"></div>
</div>